[user]
	email = mglehman@mtu.edu
	name = Maxx Lehmann
[core]
	editor = nvim
[rebase]
	updateRefs = true
	updateRefs = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[http]
	sslVerify = false
[credential]
	helper = cache --timeout=86400
